public net.minecraft.core.particles.SimpleParticleType <init>(Z)V # <init>
public net.minecraft.client.particle.ParticleEngine m_107378_(Lnet/minecraft/core/particles/ParticleType;Lnet/minecraft/client/particle/ParticleEngine$SpriteParticleRegistration;)V # register
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

public net.minecraft.client.gui.components.AbstractButton m_274533_()I # getTextureY
public net.minecraft.client.gui.components.Button f_252438_ # DEFAULT_NARRATION
public net.minecraft.client.gui.components.AbstractWidget m_257936_()V # updateTooltip
public net.minecraft.client.gui.components.AbstractWidget f_256916_ # wasHoveredOrFocused
public net.minecraft.client.gui.components.AbstractWidget f_256960_ # hoverOrFocusedStartTime
public net.minecraft.client.gui.components.AbstractWidget f_256936_ # tooltipMsDelay

public-f net.minecraft.world.item.SmithingTemplateItem f_265948_ # ARMOR_TRIM_APPLIES_TO
public-f net.minecraft.world.item.SmithingTemplateItem f_265846_ # ARMOR_TRIM_BASE_SLOT_DESCRIPTION
public net.minecraft.world.item.SmithingTemplateItem m_266239_()Ljava/util/List; # createTrimmableArmorIconList

public net.minecraft.data.loot.BlockLootSubProvider m_246125_(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/ItemLike;)V # dropOther

# Needed so AbstractWidget#updateTooltip doesn't die
public net.minecraft.client.gui.components.CycleButton m_257795_()V # updateTooltip